/Python.xcframework
nc_*.md
/Palladium.xcodeproj/xcuserdata
/build
*.log
/Frameworks
.DS_Store
/Palladium.xcodeproj/project.xcworkspace/xcuserdata
/Palladium/Services/Python/palladium_ytdlp/__pycache__
